In [ ]:
#.Create a list(friend_names) with your friends names(atleaste 10 names)?
print all names with in loop 
Expected Output: my friend name is "ravi"
		     my friend name is "shanker"

In [1]:
list=["aslam","waheed","anji","khaleel","pradeep","hanuma","rabbani","sayyed","mohsin"]
for p in list:
    print("my friend name is",p)

my friend name is aslam
my friend name is waheed
my friend name is anji
my friend name is khaleel
my friend name is pradeep
my friend name is hanuma
my friend name is rabbani
my friend name is sayyed
my friend name is mohsin

In [ ]:
#.7. Create a list(family_members) with your family members names(atleaste 10 names)?
print all names with in loop

In [2]:
list=["yousuf","fathima","ayub","ayesha","liyakhath","sardar",
               "gouse","shabana","basith","sadath","gulzar"]
for p in list:
    print(p)

yousuf
fathima
ayub
ayesha
liyakhath
sardar
gouse
shabana
basith
sadath
gulzar

In [ ]:
#.8. Create a list(food_names) with your favorite food names(atleaste 10 names only veg)?
print all names with in loop

In [3]:
lst=["aalu","tomato","gongura","totakura","pappu","bhendi","mushroom","milmaker",
    "donda","kukumber"]
for p in lst:
    print(p)

aalu
tomato
gongura
totakura
pappu
bhendi
mushroom
milmaker
donda
kukumber

In [ ]:
#.food_names) with your favorite food names(atleaste 10 names only nonveg)?
print all names with in loop

In [12]:
lstt=["chiken","chillichiken","mutton","eggs","aamlt","fish","prawns","boiled egg","kundachiken","pulav roti"]
for p in lstt:
    print(p)

chiken
chillichiken
mutton
eggs
aamlt
fish
prawns
boiled egg
kundachiken
pulav roti

In [ ]:
#.
10. Create a set(colour_names) with your colour names(atleaste 10 names)?
print all names with in loop

In [20]:
colour_names={"green","blue","red","sky blue","pink","maronn","white","black","violet"}
for p in colour_names:
              print(p)

red
maronn
violet
black
white
pink
green
sky blue
blue

In [ ]:
#.Create a list(month_names) with your month names(atleaste 10 names)?
print all names with in loop

In [21]:
month_names=["jan","feb","mar","apr","may","june","july","aug",
     "sep","oct","nov","dec"]
for p in month_names:
    print(p)

jan
feb
mar
apr
may
june
july
aug
sep
oct
nov
dec

In [ ]:
#. print 9th table (1 to 90)

In [25]:
for p in range(1,90):
    print(p)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89

In [ ]:
#second way

In [27]:
for p in range(0,90,9):
    print(p)

0
9
18
27
36
45
54
63
72
81

In [ ]:
#.13. print(12th table (1 to 120)

In [28]:
for p in range(0,120,12):
    print(p)

0
12
24
36
48
60
72
84
96
108